<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Banquets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/styleSheets/Banquets-page.css">
  </head>
  <body>
    <div class= "main">
    <header class="Header">
          <div class="logo">Food Share</div>
       <blockquote>No one has ever become poor from giving. – Anne Frank.</blockquote>
      <nav class="nav">
          <div class="list">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/ngos">NGOs</a></li>
            <li><a href="/banquets">BANQUETS</a></li> 
            <li><a href="/about">ABOUT US</a></li>
          </ul>
          </div>
      </nav>
    </header>
        <h1 style="color:black; font-weight: bolder; font-size: 30px;"></h1>
        <div class="card-container">
            <div class="card">
                <img src="https://gos3.ibcdn.com/bbcf972620a611ee81a80a58a9feac02.jpg" alt="BANQUET Image">
                <div class="card-content">
                    <h3>Heading 1</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, iste tenetur! Corrupti, quia incidunt! Similique laborum praesentium blanditiis quas earum odit dolorum totam reiciendis sint eius qui doloremque, incidunt quidem delectus aut ipsum vitae nostrum? Voluptatibus eos deleniti facilis beatae?</p>
                    <a href="#" class="btn">View Details</a>
                </div>
            </div>

            <div class="card">
                <img src="https://ik.imagekit.io/pu0hxo64d/uploads/gallery/birthday-party-at-a1-banquet-naraina-697.jpg" alt="BANQUET Image">
                <div class="card-content">
                    <h3>Heading 2</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet magni accusantium, odit illo voluptatem architecto minima necessitatibus assumenda. Magnam voluptates laboriosam nobis, error enim quaerat veniam accusamus in, quos, illo esse aliquid ducimus numquam at quisquam eligendi facilis aut quae!</p>
                    <a href="#" class="btn">View Details</a>
                </div>
            </div>
        
            <div class="card">
                <img src="https://i.pinimg.com/736x/28/ad/25/28ad257a28bcd46eb4ce22d45f7183ad.jpg" alt="BANQUET Image">
                <div class="card-content">
                    <h3>Heading 3</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor soluta ut tempora explicabo esse! Facilis nesciunt voluptates reiciendis modi ut repudiandae, corrupti maxime qui et explicabo optio. Odit ullam, possimus doloremque itaque animi culpa. Assumenda, rerum? Minus recusandae dolore sint!</p>
                    <a href="#" class="btn">View Details</a>
                </div>
            </div>   
        </div>
      <footer>
          <div class="container">
              <div class="footer-content">
                  <h3>Contact Us</h3>
                  <p>Email: Info@example.com</p>
                  <p>Phone: +1234567890</p>
                  <p>Address: XYZ Street name, country</p>
              </div>
              <div class="footer-content">
                  <h3>Quick Links</h3>
                  <ul class="list">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Help</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
              <div class="footer-content">
                  <h3>Follow Us</h3>
                  <ul class="social-icons">
                      <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                      <li><a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a></li>
                      <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="bottom-bar">
              <p>&copy; 2024 FOODSHARE. All rights reserved</p>
          </div>
      </footer>

    </div>
    </body>
    <script type="text/javascript" src="Pages/Banq-page.js"></script>
    </html>
