<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="/styleSheets/Register-page.css">
</head>
<body>
  <div class="main">
    <header class="Header">
      <div class="logo">Food Share</div>
      <blockquote>'No one has ever become poor from giving. – Anne Frank.'</blockquote>
      <nav class="nav">
        <div class="list">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/ngos">NGOs</a></li>
            <li><a href="/banquets">BANQUETS</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="registermain">
      <div class="register-1">
        <div class="register-2">
          <h2>Forgot Password</h2>
        </div>
        <form id="forgotPasswordForm" method="POST" action="/forgot-password">
          <div class="register-3">
            <div class="register-title">
              <h4>Email :</h4>
            </div>
            <input
              type="email"
              placeholder="abc@xyz.com"
              class="input"
              name="email"
              id="email"
              required
            />
          </div>
          <p id="message"></p>
          <div class="register-4">
            <button type="submit" id="sendResetLink">Send Reset Link</button>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <div class="container">
        <!-- Footer content -->
      </div>
      <div class="bottom-bar">
        <p>&copy; 2024 FOODSHARE. All rights reserved</p>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="/javaScripts/Forgot-password-page.js"></script>
</body>
</html>
