<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NGOs</title>
    <link rel="stylesheet" type="text/css" href="/styleSheets/NGO-page.css" />
   
</head>

<body>
    <div class="main">
        <header class="Header">
            <div class="logo">Food Share</div>
            <blockquote>
                'No one has ever become poor from giving. – Anne Frank.'
            </blockquote>
            <nav class="nav">
                <div class="list">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/profile">PROFILE</a></li>
                        <li><a href="/ngos">NGOs</a></li>
                        <li><a href="/banquets">BANQUETS</a></li>
                        <li><a href="/aboutus">ABOUT US</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="card-container">
            <div class="card">
                <img src="https://images-platform.99static.com//NnfsZfhWECwMKeuj4yxeInkbKN8=/0x126:874x1000/fit-in/500x500/99designs-contests-attachments/35/35657/attachment_35657633"
                    alt="NGO Image" />
                <div class="card-content">
                    <h3>United Hope Foundation</h3>
                    <p>United Hope Foundation is dedicated to creating sustainable change in underserved communities. Our initiatives focus on providing education, healthcare, and economic support to those in need. Through partnerships and community-driven programs, we aim to empower individuals and foster self-reliance. Join us in making a tangible impact and building a brighter future for all. Together, we can transform lives and communities.
                    </p>
                    <a href="#" id="unitedHope" class="btn">View Details</a>
                </div>
            </div>

            <div class="card">
                <img src="https://images-platform.99static.com//KEKlta8A8f-Y7LsWg86MuyDQvUA=/188x0:791x603/fit-in/500x500/99designs-contests-attachments/126/126616/attachment_126616173"
                    alt="NGO Image" />
                <div class="card-content">
                    <h3>Basaafar Foundation</h3>
                    <p>Basaafar Foundation is committed to advancing social welfare through impactful community projects. Our mission includes improving access to quality education, healthcare, and sustainable livelihoods for marginalized groups. By fostering community engagement and supporting local initiatives, we strive to empower individuals and drive positive change. Partner with us to support our efforts in creating a more equitable and prosperous society for all.
                    </p>
                    <a href="#" id="basaafar" class="btn">View Details</a>
                </div>
            </div>

            <div class="card">
                <img src="https://www.logodesignteam.com/images/portfolio-images/non-profit-organisations-logo-design/ngo-non-profit-organisations-logo-design1.jpg"
                    alt="NGO Image" />
                <div class="card-content">
                    <h3>Hope Foundation</h3>
                    <p>Hope Foundation is dedicated to transforming lives and communities through holistic support programs. We focus on providing essential services such as education, healthcare, and disaster relief to underserved populations. Our goal is to foster sustainable development and empower individuals to break the cycle of poverty. Join us in our mission to create lasting impact and build a brighter future for all.
                    </p>
                    <a href="#" id="hopeFoundation" class="btn">View Details</a>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="footer-content">
                    <h3>Contact Us</h3>
                    <p>Email: Info@example.com</p>
                    <p>Phone: +1234567890</p>
                    <p>Address: XYZ Street name, country</p>
                </div>
                <div class="footer-content">
                    <h3>Quick Links</h3>
                    <ul class="list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Follow Us</h3>
                    <ul class="social-icons">
                        <li>
                            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom-bar">
                <p>&copy; 2024 FOODSHARE. All rights reserved</p>
            </div>
        </footer>
    </div>
    <script src="/javaScripts/NGO-page.js"></script>
</body>

</html>
